.brand{
  position: absolute;
  top: 20px;
  font-family: 'Times New Roman';
  font-size: 60px;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  display: inline;
  color: white;
  z-index: 2;
}

.header-message{
  h2{
    font-weight: 400;
  }
  font-size: 12px;
  width: 50%;
  margin-top: 7%;
}

.header-right{
  p{
    margin: 0;
    color: white;
  }
  position: absolute;
  right: 5%;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  top: 20px;
  float: right;
  z-index: 2;
}

.header-overlay-off{
  transition: top 0.5s ease;
  height: 25%;
  width: 100%;
  background-color: black;
  z-index: 1;
  position: absolute;
  left: 0;
  top: -25%;
}
.header-overlay-on{
  transition: top 0.5s ease;
  height: 25%;
  width: 100%;
  background-color: black;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}
