body{
  font-family: 'Helvetica Neue', "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  padding: 30px;
  margin: 0px;
}
