$phone: "(min-width: 300px) and (max-width: 420px)";

@media #{$phone}{
}

.upvoted-tracks{
  float:left;
  width: 45%;
  .track-group{
    width: 100%;
  }
  @media #{$phone}{
    width: 100%;
    .track-group{
      width: 90%;
    }
  }
}

.posted-tracks{
  float: right;
  margin-right: 30px;
  width: 45%;
  .track-group{
    width: 100%;
  }
  @media #{$phone}{
    width: 100%;
    .track-group{
      width: 90%;
    }
  }
}

profile-page{
  .username{
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: center;
    margin-top: 0px;
  }
  .upvotes-title{
    float: left;
    top: 0;
    width: 45%;
    text-align: center;
  }
  .posted-title{
    float: right;
    top: 0;
    width: 45%;
    text-align: center;
  }
}

.settings-cog{
  position: absolute;
  right: 62px;
}

.user-settings{
  height: 200px;
  h1 {
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: center;
    margin-top: 0px;
  }
  h3{
    display: inline;
    text-align: center;
    margin-left: 18%;
  }
  .settings-soundcloud{
    margin-top: 20px;
    cursor: pointer;
  }
  .settings-soundcloud-fa{
    color: #ff7700;
    margin-right: 21%;
    float: right;
  }
}