.track-types{
  a{
    float: right;
    cursor: pointer;
  }
  a:first-child{
    margin-left: 20px;
  }
  a:last-child{
    margin-left: 20px;
  }
}

.stream-title {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
}
